<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HUHS webteam</title>
    <!-- TODO CSS JS 위치 수정해야함    -->
    <link href="stylesheets/main.css" rel="stylesheet">
    <script src='javascripts/main.js'></script>
    <link href='stylesheets/sticky.css' rel='stylesheet' type='text/css'>
</head>
<body>
<!--HEADER -->
<header>
    <div class="bigtop">
        <div class="top1area">
            <div class="tarea_a">span1</div>
            <div class="tarea_b">span2</div>
            <div class="tarea_c">span3</div>
        </div>
        <div class="top2area" >
            <!-- TODO 로고파일 위치도 수정해야함 -->
            <div class="t2area_a"><a href="/"><img class="logo" src="images/flogo.png" alt="logo"></a></div>
            <div class="t2area_b"><div id="search"><form action=""> <input type="text"></form></div></div>
            <div class="t2area_c">user</div>
        </div>
        <div class="top3area">
            <nav class="navf">
                <div class="category">
                    <ul class="ul1">
                        <!-- TODO 페이지 링크도 수정해야함      -->
                        <li class="category menu1" ><a class="category menu1 a" href="*" >소개</a></li>
                        <li class="category menu1" ><a class="category menu1 a" href="*" >족보</a></li>
                        <li class="category menu1" ><a class="category menu1 a" href="*" >공지사항</a></li>
                        <li class="category menu1" ><a class="category menu1 a" href="*" >자유게시판</a></li>
                    </ul>
                    <ul class="ul2">
                        <li class="category menu2" ><a class="category menu2 a" href="*">성호</a></li>
                        <li class="category menu2" ><a class="category menu2 a" href="*">세하</a></li>
                        <li class="category menu2" ><a class="category menu2 a" href="*">선웅</a></li>
                        <li class="category menu2" ><a class="category menu2 a" href="*">은서</a></li>
                        <li class="category menu2" ><a class="category menu2 a" href="*">진경</a></li>
                        <li class="category menu2" ><a class="category menu2 a" href="*">진호</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class = "wrap">
    <main>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </main>
</div>
<!-- FOOTER -->
<footer class="container">
    footer
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
</body>
</html>